.search-results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 40px;
  place-items: center;
  row-gap: 20px;
}

.search-results-container .search-result-item {
  /* flex: 0 0 25%; */
}
